.modal {
  .close {
    align-self: flex-start;
    max-width: 10vw;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    position: fixed;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  max-width: 80vw;
  min-height: 65vh;
  margin: 0 auto;
  margin-top: 15vh;
  padding: 3vw;
  border-radius: 1rem;
  background-color: rgba(0, 0, 49, 0.8);
    .container {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
      margin-left: 10vw;
      h3 {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 2rem;
        color: rgba(179, 179, 54, 1);
        border-left: 3px solid rgba(255, 255, 255, 1);
        padding-left: 2rem;
        margin: 0;
      }
      h5 {
        font-family: 'Fira Sans Extra Condensed', sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        color:rgba(128, 130, 133, 1);
        margin-top: 1rem;
      }
      .display {
        min-width: 10vw;
        margin-bottom: 2rem;
      }
      .link-manual {
        color: rgba(179, 179, 54, 0.5);
        text-decoration: none;
        border: 1px solid  rgba(179, 179, 54, 0.5);
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-weight: bolder;
      }
    }
  .details {
  min-width: 40vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 10vw;
  background-color:rgba(179, 179, 54, 0.3);
  .specs {
    display: flex;
    flex-direction: row;
    .subs {
      font-family: 'Titillium Web', sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0.5rem 5rem;
      min-width: 10vw;
    }
      .text {
      font-family: 'Titillium Web', sans-serif;
      font-size: 1.5rem;
      margin-right: 5rem;
      color: rgba(179, 179, 54, 1);
      margin-top: 0.3rem;
    }
  }
  }
}
